<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecard.mapper.FactoryPersonMapper">
  <resultMap id="BaseResultMap" type="com.ecard.entity.FactoryPerson">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="CloudPassNo" jdbcType="BIGINT" property="cloudPassNo" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="Sex" jdbcType="VARCHAR" property="sex" />
    <result column="MechanismNo" jdbcType="BIGINT" property="mechanismNo" />
    <result column="DepartmentNo" jdbcType="BIGINT" property="departmentNo" />
    <result column="DisableFlag" jdbcType="INTEGER" property="disableFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, CloudPassNo, Name, Phone, Sex, MechanismNo, DepartmentNo, DisableFlag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from factoryperson
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from factoryperson
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ecard.entity.FactoryPerson">
    insert into factoryperson (Id, CloudPassNo, Name, 
      Phone, Sex, MechanismNo, 
      DepartmentNo, DisableFlag)
    values (#{id,jdbcType=BIGINT}, #{cloudPassNo,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{mechanismNo,jdbcType=BIGINT}, 
      #{departmentNo,jdbcType=BIGINT}, #{disableFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ecard.entity.FactoryPerson">
    insert into factoryperson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="cloudPassNo != null">
        CloudPassNo,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="phone != null">
        Phone,
      </if>
      <if test="sex != null">
        Sex,
      </if>
      <if test="mechanismNo != null">
        MechanismNo,
      </if>
      <if test="departmentNo != null">
        DepartmentNo,
      </if>
      <if test="disableFlag != null">
        DisableFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cloudPassNo != null">
        #{cloudPassNo,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mechanismNo != null">
        #{mechanismNo,jdbcType=BIGINT},
      </if>
      <if test="departmentNo != null">
        #{departmentNo,jdbcType=BIGINT},
      </if>
      <if test="disableFlag != null">
        #{disableFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecard.entity.FactoryPerson">
    update factoryperson
    <set>
      <if test="cloudPassNo != null">
        CloudPassNo = #{cloudPassNo,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        Sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mechanismNo != null">
        MechanismNo = #{mechanismNo,jdbcType=BIGINT},
      </if>
      <if test="departmentNo != null">
        DepartmentNo = #{departmentNo,jdbcType=BIGINT},
      </if>
      <if test="disableFlag != null">
        DisableFlag = #{disableFlag,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecard.entity.FactoryPerson">
    update factoryperson
    set CloudPassNo = #{cloudPassNo,jdbcType=BIGINT},
      Name = #{name,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=VARCHAR},
      MechanismNo = #{mechanismNo,jdbcType=BIGINT},
      DepartmentNo = #{departmentNo,jdbcType=BIGINT},
      DisableFlag = #{disableFlag,jdbcType=INTEGER}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPhoneId" resultType="com.ecard.entity.FactoryPerson">
  	select * from factoryperson where Phone = #{phone,jdbcType=VARCHAR} and Id != #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByNamePhoneNo" resultType="com.ecard.pojo.queryResult.FactoryPersonQr">
  	select Id,CloudPassNo,Name,Phone,Sex,MechanismNo,DepartmentNo,DisableFlag,
  	(select MechanismName from mechanism where Id=MechanismNo)as mechanismName,
  	(select Name from department where Id=DepartmentNo)as departmentName
  	 from factoryperson where 1=1
  	<if test="name != null and name !=''">
        and Name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="phone != null and phone !=''">
        and Phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="mechanismNo != null">
        and MechanismNo = #{mechanismNo,jdbcType=BIGINT}
      </if>
      <if test="departmentNo != null">
        and DepartmentNo = #{departmentNo,jdbcType=BIGINT}
      </if>
  </select>
</mapper>